@import 'tailwindcss';

@theme {
  --color-red: #933038;
  --color-light-background: #31353F;
  --color-medium-background: #22252B;
  --color-dark-background: #191A1C;
  --color-white: #F1F1F1;
  --color-dark-white: #B3B4B6;
  --color-green: #6DA152;
  --font-kdam: var(--font-kdam)
}