@import 'tailwindcss';

@theme {
  --color-red: #933038;
  --color-light-background: #31353F;
  --color-medium-background: #22252B;
  --color-dark-background: #191A1C;
  --color-white: #F1F1F1;
  --color-dark-white: #B3B4B6;
  --color-green: #6DA152;
  --font-kdam: var(--font-kdam)
}
body {
  background-color: #1e1e1e;
}
.input {
  @apply w-full px-4 py-2 rounded-full bg-[#1e1e1e] text-white border border-gray-600 focus:border-green-500;
}

